.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  /* background-color: red; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  margin-right: 5rem;
}